<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  data-provider-thread-count="10">
<listeners>
<listener class-name="com.snow.util.ListnerAdapter"/>
</listeners> 
  <test name="Test" >
    <classes>
   <class name="Runnner.Testrunner01It"/> 

    </classes>
  </test> <!-- Test -->
  
 
</suite> <!-- Suite -->
